.Exercise {
	list-style-type: none;
	height: 40px;
	font-size: 18px;
	font-family: "Consolas", monospace;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.outputDesired, .output {
	font-weight: 600;
}

.regexpString {
	font-size: 18px;
	font-family: "Consolas", monospace;
	padding-left: 2px;
}

input:focus {
    outline: 0;
}

span {
    display: inline-block;
    min-width: 150px;
}
    .input {
        text-align: left;
    }

.ExerciseReady {
    color: #aaa;
}

.ExerciseReady input {
    color: #aaa;
    outline: auto 8px green;
}